* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
a{
    text-decoration: none;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    padding: 17px 0;
    background-color: #efefef;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: bold;
}

nav ul li {
    font-size: 14px;
    color: #333;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.phone {
    font-size: 16px;
}

.callback-btn {
    margin-right: 50px;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    border: 2px solid #f13c6e;
    border-radius: 40px;
    padding: 15px 58px;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid #efefef;
    margin: 19px 0;
}

/* Promo section styles */
.promo {
    position: relative;
    width: 100%;
}

.promo-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.promo-img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.promo-text {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.promo-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.promo-description {
    margin-bottom: 20px;
}

.promo-btn {
    background-color: #ff4500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 28px;
    transition: background-color 0.3s;
}

.promo-btn:hover {
    background-color: #ff6347;
}

/* Special offers section styles */
.special-offers {
    background-color: #efefef;
    padding: 80px 0;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.offers-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.offer-block {
    background-color: #f13c6e;
    padding: 36px 43px;
    width: 48%;
}

.offer-block-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-block-text {
    color: #fff;
    max-width: 65%;
}

.offer-block-title {
    font-size: 18px;
    font-weight: 700;
}

.offer-block-description {
    margin-top: 24px;
    line-height: 20px;
}

.offer-block-btn {
    font-size: 14px;
    color: #fff;
    background-color: #f13c6e;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 11px 54px;
    margin-top: 29px;
    cursor: pointer;
}

.offer-block-img {
    width: 188px;
}
.offer-block-input{
    width: 225px;
    height: 35px;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 30px;
    text-align: center;
}
/* Footer styles */

